<h1>HomePage</h1>

<div>
  <%  unless current_user.is_youtube_authorized? %>  
    <%= link_to "Authenticate Google Account", "/users/auth/google_oauth2" %> <br> 
    <% else %>
      <span>Google Account connected</span>
  <% end %>

  <h3>Youtube Videos:</h3>
  <% @videos.each do |video| %>
  	<strong>title: <%= video.title %></strong><br/>
  	<strong>Decription: <%= video.description %></strong><br/>
  	<iframe width="420" height="315"
		src="https://www.youtube.com/embed/<%= video.id %>">
		</iframe>
		<hr/>
		<br/>
  <% end %>
</div>